.page-header {
  background-color:#30494D !important;
  margin-bottom: $base-space;
  min-width: 1080px;
  height: 76px;
}

.header-background {
  background-color: #30494D;
  height: 100%;
  width: 100%;
}

.page-header-subtitle {
  color: $color-text-dark;
}