.healthScoreTable{
.ant-table-thead > tr > th {
  font-weight: bold;
  color:#FFFFFF ! important;
  background:#353F45 ! important;
  border-bottom: 1px solid #3F4A52;
  padding-top: 3px;
  padding-bottom: 3px;

}

.ant-table-thead > tr{
  background: #353F45;
}

// .ant-table-thead > tr:first-child > th:first-child {

// }
// .ant-table-thead > tr:first-child > th:last-child {

// }

.ant-table-tbody{
  background: #2D3439;

  td.boldText{
    font-weight: bold;
  }

  .orange{
    color:#EF9A46;
  }
  //
  //.blue{
  //  color:#1BB9B9;
  //}
}

.ant-table-tbody> tr > td {
  //color: #879CAB;
  border-bottom: 1px solid #3F4A52;
  border-right: 1px solid #3F4A52;
  padding:6px 20px 6px 20px;
}

.ant-table-tbody> tr > td:last-child {
  border-right: none;
}

.ant-table-tbody >tr:last-child {
  border-bottom: none;
}

.ant-table{
  color:#FFFFFF;
  font-size: 10.8px;
}

.ant-table table{
text-align: center;
}


.ant-table-tbody > tr:hover > td{
  background:transparent ! important;
}

// .ant-table-thead > tr > th  {
// }


.ant-table-tbody > tr > td.ant-table-column-sort {
  background: rgba(0, 0, 0, 0.01);
}

.ant-table-tbody > tr > td:first-child {
  background-color: #353F45;
}


.ant-table-wrapper {
  border-radius: 10px;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid $color-border;
  background-color: $color-background-light;
}

.ant-table-tbody > tr > td {
  color: $color-text;
  border-bottom: 1px solid $color-border;
  background-color: $color-background-light;
}


.ant-table-tbody > tr:last-child > td {
  border-bottom: none;
}

.ant-table-thead > tr > th:first-child, .ant-table-tbody > tr > td:first-child {
  background-color: $color-background-highlight;
  // min-width: 256px;
}

.ant-table-tbody > tr:hover > td:first-child {
  background-color: $color-background-highlight !important;
}

.ant-table-tbody > tr:hover > td{
  background-color: $color-background-light !important;
}

.ant-table-row-expand-icon {
  background-color: transparent;
  color: $color-text-dark;
  border: 1px solid $color-text-dark;
  border-radius: 50px;
}


.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}

  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on, .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
    color: #4AB9B9;
  }


  .ant-pagination-item{
       border: 1px solid #2D3439;
       background: #2D3439;
       color: #FFFFFF;

       &.ant-pagination-item-active{
         border: 1px solid #4AB9B9;
       }

       &.ant-pagination-item-active:hover{
         border: 1px solid #4AB9B9;
    }
     }

  .ant-pagination-item:hover{
    border: 1px solid #879CAB;
  }
  .ant-pagination-item a {
    color: #FFFFFF;
  }

  .ant-pagination-item-active a {
    color: #FFFFFF;
  }

  .ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a {
    color: #FFFFFF;
  }

  .ant-pagination-item-link{
    border: 1px solid #2D3439;
    background: #2D3439;
    color: #FFFFFF;
  }

  .ant-pagination-item-link:hover{
    border: 1px solid #879CAB;
    color: #FFFFFF;
  }

  .ant-progress-inner {
    background-color: #353F45;
    border-radius: 6px;
    .ant-progress-bg{
      border-radius: 6px;
    }
  }


}