
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: $color-green;
  color: white;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  background: $color-green;
  color: white;
}
