.ant-statistic-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #F8F8F8;
  letter-spacing: 0;
  padding: 20px 0 0 20px;
}

.ant-statistic-content {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding: 10px 0 0 20px;
}

.ant-statistic-content-suffix {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #839CAB;
  letter-spacing: 0;
}


.performance-board {
  .ant-statistic-content-value-decimal {
    font-size: 28px;
  }
}