$base-space: 15px;
$half-space: 8px;
$dbl-space: 30px;
$tpl-space: 45px;
$qdpl-space: 60px;

$color-background: #203033;
$color-background-light: rgb(34,35,40);
$color-background-highlight: #203033;
$color-background-input: rgba(135,156,171,0.1);
$color-background-button: rgb(53,63,69);

$color-text: rgb(255,255,255);
$color-second-text: rgba(255, 255, 255, 0.7);
$color-text-dark:  rgb(135,139,153);
$color-menu-item-text: #a3c8db;
$color-background-color-menu-item: #2c3338;
$color-background-color-menu-item-active: #4a575f;

$color-border: rgb(68,70,80);
$color-border-light: #353F45;

$color-red: #F85E53;
$color-orange: #EF9A46;
$color-blue: #3591EF;
$color-green: #489C9C;
$color-purple: #777BDE;
$color-yellow: #F0D783;
$color-grey: #979797;
$color-light-blue: #94b6c7;
$color-brown: #a1887f;

$color-error: $color-red;
$color-warning: $color-orange;
$color-info: $color-blue;
$color-success: $color-green;

$color-actual: #00b9b9;
$color-budget: #979797;
$color-r3m: #ffb74d;
$color-history: #448aff;
$color-trend: #007af5;
$color-gap: #e86d66;

$screen-2560: 2560px;
